<div > 
    <video id="myVideo" autoplay width="460" height="300" style="border:2px solid black">
        <source src="../../assets/video1.mp4" type="video/mp4">
    </video>
    <!-- <video class="video" id="myVideo"  >
        <source src="../../assets/video1.mp4" type="video/mp4">
      </video> [src]="videoUrl | trustVideoUrl"-->
</div>
<div >
    <span id="current" style="color: white;">Current:</span>
    <span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span id="loadingPct" style="color: white;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span>
    <span id="duration" style="color: white;">Total:</span>
  </div>
  <span id="completedFlag" style="color: white;"></span>
  <div class="progress progress-striped active" style="width:460px">
    <span id="myProgressbar" class="progress-bar progress-bar-success"  role="progressbar"  aria-valuenow="" aria-valuemin="0" aria-valuemax="100" onclick="myProgress()"     >
    </span>	   
  </div>
