<div class="col-md-6">
    <div class="form-group">
        <label >Title:</label>
        <input type="text" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label >Youtube URL:</label>
        <input type="text" class="form-control" id="youURL" placeholder="Youtube URL">
    </div>

    <button class="btn btn-default" id='addBtn' (click)="addVideoDetails()">Add Video</button>
    <button class="btn btn-default" id='editConfirmBtn'(click)="editVideoConfirm()" disabled=true>Edit Video Confirm</button>

</div>
<div class="col-md-12">
    <table class="table table-striped">
        <caption>Video Details</caption>
        <thead>
            <tr>
                <th>S.no</th>
                <th>Title</th>
                <th>URL</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Approve</th>
            </tr>
        </thead>
        <tbody id="videoDetailList">
            <!-- <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-info">Edit</button></td>
                <td><button class="btn btn-danger">Delete</button></td>
                <td><button class="btn btn-success">Approve</button></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-info">Edit</button></td>
                <td><button class="btn btn-danger">Delete</button></td>
                <td><button class="btn btn-success">Approve</button></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-info">Edit</button></td>
                <td><button class="btn btn-danger">Delete</button></td>
                <td><button class="btn btn-success">Approve</button></td>
            </tr> -->
        </tbody>
    </table>
</div>