<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div>
    <span style="color:red;" th:if="${errMsg}">[[${errMsg}]]</span>
</div>
<h2>pls login</h2>
<form action="" th:object="${userInfo}" method="post" name="loginForm">
    <table>

        <tr>
            <td>Username:</td>
            <td><input id="username" type="text" th:field="*{username}"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td>
                <img id="captcha_img" onclick="refresh()" src="/kaptcha"/>

            </td>
            <td>
                <button type="button" onclick="refresh()" class="glyphicon glyphicon-repeat"></button>
                <input type="text" placeholder="Enter Captcha" name="verifyCodeActual" id="codeInput"/>
            </td>

        </tr>
        <tr>
            <td>
                <button type="button" id="login" onclick="loginBtn()">Login</button>&nbsp;&nbsp;&nbsp;

            </td>


            <td>
                <button type="button" id="reset" onclick="resetInfo()">Reset</button>
            </td>

        </tr>
    </table>


</form>


</body>
<script th:inline="javascript">
/*<![CDATA[*/
    function resetInfo(){
        var inputs = document.getElementsByTagName('input');
        for(var i=0;i<=inputs.length;i++){

            inputs[i].value="";
        }
    }
     function refresh() {
            document.getElementById('captcha_img').src="/kaptcha?"+Math.random();
        }


    function loginBtn(){
      document.loginForm.action='/getUser';
      document.loginForm.submit();
    }
/*]]>*/


</script>


</html>